<%= form_for(group) do |f| %>
	<div class="field row">
		<label>団体名</label>
		<%= f.text_field :name, class: "input_params", placeholder: "団体名を入力してください(必須)" %>
	</div>
	<div class="field row">
		<label>住所</label>
		<%= f.text_field :address, class: "input_params", placeholder: "住所を入力してください(必須)" %>
	</div>
	<div class="field row">
		<label>電話番号</label>
		<%= f.text_field :phone_number, class: "input_params", placeholder: "電話番号を入力してください(ハイフンなし)" %>
	</div>
	<div class="field row">
		<label>e-mail</label>
		<%= f.text_field :mail, class: "input_params", placeholder: "メールアドレスを入力してください" %>
	</div>
	<div class="field row">
		<label>活動エリア</label>
		<%= f.text_field :active_area, class: "input_params", placeholder: "活動エリアを入力してください(必須)" %>
	</div>
	<div class="field row">
		<label>団体概要</label>
		<%= f.text_area :description, class: "input_params", rows:"4", placeholder: "団体概要(必須)" %>
	</div>
	<div class="field row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<label>風景画像</label>
			<%= f.attachment_field :image, placeholder: "風景画像",class: "image" %>
		</div>
		<div class="col-xs-4"></div>
	</div>
	<div class="actions row">
	 	<%= f.submit "登録する" ,class: "button" %>
	</div>
<% end %>